body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    flex: 1;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px; /* Incrementamos el padding para hacer el popup más grande */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Hacemos el popup más ancho */
    max-width: 600px; /* Ancho máximo para el popup */
}

.popup.active {
    display: block;
}

.popup input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.popup button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.close-btn {
    background: #ff3333;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-top: #77aaff 3px solid;
    text-align: center; /* Centrar el texto del footer */
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

footer nav {
    margin-top: 10px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
}

footer nav a:hover {
    color: #77aaff;
}
